* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    background-color: #333;

}
h1{
    color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #1db954;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.search-box {
    flex: 1;
    margin-left: 20px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    background-color: #1db954;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    border-radius: 30px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #1ed760;
}

.featured-playlists {
    margin-bottom: 40px;
}

.featured-playlists h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.playlist {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.playlist img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.playlist h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.playlist p {
    font-size: 1em;
}
